{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navbar */
.navbar{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: Helvetica;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/*Home Section*/
#Home{
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.5)
}
#Home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('1566499659196.jpg') no-repeat center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;


}
.headings{
    font-family: 'Gill Sans';
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-family: 'Cambria';
    font-weight: bold;
}

/*About Section */
#About{
    display: flex;
    flex-direction: column;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex; 
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio Section */
#Portfolio{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 20px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Services Section */
#Services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}